<!-- <div class="card ml-4 mb-4 mt-4 mr-0" style="width: 15rem;">
    <div class="card p-4 bg-body">
        <h4 class="card-title" align="center">Today's Cases</h4>
        <h1 class="card-text" align="center">{{ daily.data[daily.data.length-1].summary.total - daily.data[daily.data.length-2].summary.total }}</h1>
        </div>
</div> -->


<h5 class="card-text font-weight-bold pb-1 pt-0" align="center">(+{{ daily.data[daily.data.length-1].summary.total - daily.data[daily.data.length-2].summary.total }})</h5>
 