<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50">COVID-19 Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <span class="border border-secondary rounded p-1 mr-1"><li class="nav-item text-white">
                <a class="nav-link text-white" role="button" routerLink="world">World</a>
            </li></span>
            <span class="border border-secondary rounded p-1 ml-1 mr-1"> <li class="nav-item">
                <!-- <a class="nav-link" href="#">India</a> -->
                <a class="nav-link text-white" role="button" routerLink="india">India</a>
            </li></span>
            <span class="border border-secondary rounded p-1 ml-1"><li class="nav-item">
                <a class="nav-link text-white" role="button" routerLink="help">Help</a>
            </li></span>
        </ul>
    </div>
</nav>