<div class="card bg-light" style="width:100%">
    <form action="/action_page.php">
        <input type="text" placeholder="District Name" name="search">
        <button type="Search"
                (click)=fetchDistrictData()>Submit</button>
      </form>
      <!-- <input type="text" id="myInput1" (keyup)="onKey($event)" placeholder="Search for district" title="Type a district name"><br> -->
    <!-- <input type="text" class="form-control" [(ngModel)]="searchVal" 
    (ngModelChange)='checkSearchVal()'
    placeholder="Search by Country"> -->
    <!-- <form id="searchForm">
        <div class="form-group">
            <div class="input-group" id="filterAll">
              <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
              <input type="text" class="form-control" name="searchString" placeholder="Search..." [(ngModel)]="searchString">
            </div>
        </div>
    </form> -->
    
    
<!--     
    <table id="myTable1" class="table table-striped">
        <tr>
            <th class="text-theme bg-light">District</th>
            <th class="font-weight-bold">State</th>
            <th class="text-warning font-weight-bold">Total cases</th>
            <th class="text-success font-weight-bold">Total recovered</th>
            <th class="text-danger font-weight-bold">Total deaths</th>
        </tr>
        <tr *ngFor="let district of districts; let name of district.districtData">
      
            <td class="text-theme bg-light">{{ name.district }}</td>
            <td class="font-weight-bold">{{ district.state }}</td>
            <td class="text-warning font-weight-bold"> {{name.confirmed }}</td>
            <td class="text-success font-weight-bold">{{ name.recovered }} </td>
            <td class="text-danger font-weight-bold">{{ name.deceased }} </td>
        </tr>
 </table> -->





</div>
