<!-- <div class="card_list helpno_list">
    <h2>Helpline No. </h2>
    <div class="epass_block"><span class="close_list"></span>
     <ul>
                  <li>
            <span class="st-name">Andaman and Nicobar :</span>
            <span class="help-no">03192-232102, 03192-234287</span>
        </li>
                  <li>
            <span class="st-name">Andhra Pradesh :</span>
            <span class="help-no">0866-2410978</span>
        </li>
                  <li>
            <span class="st-name">Arunachal Pradesh :</span>
            <span class="help-no">104</span>
        </li>
                  <li>
            <span class="st-name">Assam :</span>
            <span class="help-no">104</span>
        </li>
                  <li>
            <span class="st-name">Bihar :</span>
            <span class="help-no">0612-2217681, 0612-2233806, 104</span>
        </li>
                  <li>
            <span class="st-name">Chandigarh :</span>
            <span class="help-no">0172-2752038, 0172-2752031, 0172-2704048</span>
        </li>
                  <li>
            <span class="st-name">Chhattisgarh :</span>
            <span class="help-no">0771-282113, 0771-2446607, 0771-2440608</span>
        </li>
                  <li>
            <span class="st-name">Dadra and Nagar Haveli :</span>
            <span class="help-no">104, 1077, 0260-2642106, 0260-2630304</span>
        </li>
                  <li>
            <span class="st-name">Daman and Diu :</span>
            <span class="help-no">104, 1077, 0260-2642106, 0260-2630304</span>
        </li>
                  <li>
            <span class="st-name">Delhi :</span>
            <span class="help-no">011-22307145</span>
        </li>
                  <li>
            <span class="st-name">Goa :</span>
            <span class="help-no">104</span>
        </li>
                  <li>
            <span class="st-name">Gujarat :</span>
            <span class="help-no">079-23251900, 079-23251908, 104</span>
        </li>
                  <li>
            <span class="st-name">Haryana :</span>
            <span class="help-no">0172-2545938</span>
        </li>
                  <li>
            <span class="st-name">Himachal Pradesh :</span>
            <span class="help-no">077-2628940, 077-2629439, 104</span>
        </li>
                  <li>
            <span class="st-name">Jammu and Kashmir :</span>
            <span class="help-no">0191-2549676, 0191-2520982, 0194-2440283, 0194-2452052, 0194-2457313</span>
        </li>
                  <li>
            <span class="st-name">Jharkhand :</span>
            <span class="help-no">0651-2282201, 0651-2284185, 0651-223488, 181, 104</span>
        </li>
                  <li>
            <span class="st-name">Karnataka :</span>
            <span class="help-no">080-46848600, 1075, 104</span>
        </li>
                  <li>
            <span class="st-name">Kerala :</span>
            <span class="help-no">0471-2552056, 0471-25521056</span>
        </li>
                  <li>
            <span class="st-name">Ladakh :</span>
            <span class="help-no">01982-256462, 01982-257416, 01982-258960</span>
        </li>
                  <li>
            <span class="st-name">Lakshadweep :</span>
            <span class="help-no">104/ 04896-263742</span>
        </li>
                  <li>
            <span class="st-name">Maharashtra :</span>
            <span class="help-no">022-22024535</span>
        </li>
                  <li>
            <span class="st-name">Manipur :</span>
            <span class="help-no">1800-345-3818</span>
        </li>
                  <li>
            <span class="st-name">Meghalaya :</span>
            <span class="help-no">108, 0364-2224100, 0364-2590623</span>
        </li>
                  <li>
            <span class="st-name">Mizoram :</span>
            <span class="help-no">102</span>
        </li>
                  <li>
            <span class="st-name">Madhya Pradesh :</span>
            <span class="help-no">104, 1075, 181,0755-2411180,0755-2704201, 0729-22344</span>
        </li>
                  <li>
            <span class="st-name">Nagaland :</span>
            <span class="help-no">0370-2291122, 0370-2270338</span>
        </li>
                  <li>
            <span class="st-name">Odisha :</span>
            <span class="help-no">104, 0674-2534177</span>
        </li>
                  <li>
            <span class="st-name">Puducherry :</span>
            <span class="help-no">104, 1070, 1077, 0413-2253407</span>
        </li>
                  <li>
            <span class="st-name">Punjab :</span>
            <span class="help-no">104</span>
        </li>
                  <li>
            <span class="st-name">Rajasthan :</span>
            <span class="help-no">0141-2225000, 0141-2225624</span>
        </li>
                  <li>
            <span class="st-name">Sikkim :</span>
            <span class="help-no">104, 03592-284444</span>
        </li>
                  <li>
            <span class="st-name">Tamil Nadu :</span>
            <span class="help-no">0471-2552056, 0471-25521056</span>
        </li>
                  <li>
            <span class="st-name">Telengana :</span>
            <span class="help-no">104, 040-23286100</span>
        </li>
                  <li>
            <span class="st-name">Tripura :</span>
            <span class="help-no">0381-2315879, 0381-2412424, 0381-2413434</span>
        </li>
                  <li>
            <span class="st-name">Uttar Pradesh :</span>
            <span class="help-no">0522-2237515</span>
        </li>
                  <li>
            <span class="st-name">Uttarakhand :</span>
            <span class="help-no">104</span>
        </li>
                  <li>
            <span class="st-name">West Bengal :</span>
            <span class="help-no">1800-313-444222, 033-23412600</span>
        </li>
               </ul>
    </div>        
  </div> -->
  <div class="aarogya-menu">
    <a href="https://www.mygov.in/aarogya-setu-app/?app=aarogya&target=browser&t=1589479675" target="_blank"><img src="https://www.mygov.in/sites/all/themes/mygov/images/covid/aarogya_btn_img.png" /></a>
</div>
  <div id="socialblock"></div>
    <div class="mygov_social_hub">
     <div class="container">
     <h2>Mygov Social hub</h2>

      <div class="social_list owl-carousel">
       <div class="social_item s1">
         <i></i>

         <a target="_blank" href="https://wa.me/919013353535?text=Hi"> +91-9013353535<br/>WhatsApp</a>
       </div>
       <div class="social_item s2">
         <i></i>
         <a target="_blank" href="https://www.messenger.com/t/MyGovIndia">MyGovIndia<br/>Facebook Messenger</a>
       </div>
       <div class="social_item s3">
         <i></i>
         <a target="_blank" href="https://www.facebook.com/MyGovIndia/">@MyGovIndia<br/>Facebook Page</a>
       </div>
       <div class="social_item s4">
         <i></i>
         <a target="_blank" href="https://t.me/MyGovCoronaNewsdesk">MyGovCorona<br/>Newsdesk Telegram </a>
       </div>
       <div class="social_item s5">
         <i></i>
         <a target="_blank" href="https://www.instagram.com/mygovindia/">@MyGovIndia<br/>Instagram Page</a>
       </div>
       <div class="social_item s6">
         <i></i>
         <a target="_blank" href="https://twitter.com/mygovindia">@MyGovIndia<br/>Twitter Page</a>
       </div>
       <div class="social_item s7">
         <i></i>
         <a target="_blank" href="https://www.linkedin.com/company/mygov-india/">@MyGovIndia<br/>LinkedIn Page</a>
       </div>
       <div class="social_item s8">
         <i></i>
         <a target="_blank" href="https://www.youtube.com/mygovindia">@MyGovIndia<br/>YouTube Page</a>
       </div>
       <div class="social_item s9">
         <i></i>
         <a target="_blank" href="https://www.tiktok.com/@mygovindia">@MyGovIndia<br/>TikTok Page</a>
       </div>
       <div class="social_item s10">
         <i></i>
         <a target="_blank" href="http://m.helo-app.com/user/6815050150605718530/share?app_id=1342&language=hi&open_url=snssdk1342%3A%2F%2Fuser_profile%3Fapp_launch_by%3DShare%2BPage%2BLink%26user_id%3D6815050150605718530&region=in">@MyGovIndia<br/>Helo Page</a>
       </div>
      </div>
     </div>
     <div class="channel_text">Latest Information Channels for Corona</div>
    </div>